<!DOCTYPE html>
{% extends 'recipes/homepage.html' %}
    {% block body_block %}
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->


<h3>Welcome To Create Profile </h3>
<hr>
<form method="post" class="fontst"  enctype="multipart/form-data">

    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" class="btn btn-primary" value="Create">
</form>
<hr>
<table>
    <tr>
        <td>User</td>
        <td>Profile Picture</td>
        <td>Bio</td>
        <td>Birth Day</td>
    </tr>
    {% for upds in updates %}
    <tr>
        <td>{{upds.user}}</td>
        <td>{{upds.profile_pic}}</td>
        <td>{{upds.bio}}</td>
        <td>{{upds.dirth_date}}</td>
        <td><a href="{% url 'editprofile' upds.pk %}">Edit</a></td>
        <td><a href="">Delete</a></td>
    </tr>
    {% endfor %}
</table>

  {% endblock %}
<!--</body>-->
<!--</html>-->